.itemHover:hover {
    
    cursor: pointer;
    
    /* Make card bigger when hovering */
    transition: 0.3s;
    transform: scale(1.1);
        box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
        z-index: 3;

    
}

.itemHover:hover .cardTitle {

   
    
    white-space: normal;
    /* overflow: visible; */
    transition: 2s;
   
}